
<div class="row profile">

    <div class="col-sm-5 my-5">
            <div class="form-group mb-3">
                <label for="firstName">First Name</label>
                <input class="form-control" type="text" name="firstName">
            </div>
            <div class="form-group mb-3">
                <label for="firstName">Email</label>
                <input class="form-control" type="text" name="firstName">
            </div>
            <div class="form-group mb-3">
                <label for="firstName">Alternate Contact Email</label>
                <input class="form-control" type="text" name="firstName">
            </div>
            <div class="form-group mb-3">
                <label for="firstName">Date of Birth</label>
                <input class="form-control" type="text" name="firstName">
            </div>
    </div>
    <div class="col-sm-5 my-5">
        <div class="form-group mb-3">
            <label for="firstName">Last Name</label>
            <input class="form-control" type="text" name="firstName">
        </div>
        <div class="form-group mb-3">
            <label for="firstName">Contact Number</label>
            <input class="form-control" type="text" name="firstName">
        </div>
        <div class="form-group mb-3">
            <label for="firstName">Alternate Contact Number</label>
            <input class="form-control" type="text" name="firstName">
        </div>
    </div>
    <div class="col-sm-2 my-5">
        <div class="form-group mt-4">
            <button class="form-control btn btn-success">Save</button>
        </div>
    </div>
</div>