.profile{
    margin-right: 100px;
    margin-left: 0px;
}
.profile input{
    border-radius: 0px;
    background-color: aliceblue;
}

input.ng-touched.ng-invalid{
    box-shadow: rgba(248, 3, 3, 0.35) 0px 5px 15px;
}