.user_auth .btn, .seller_login .btn{
    background-color: #140330;
    color: white;
}

.user_auth p, .seller_login p{
    height: auto
}

.user_auth .head, .seller_login .head{
    font-family: 'Oswald', sans-serif;
}

.loginLink{
    color:#140330;
    cursor: pointer;
}

input.ng-touched.ng-invalid{
    box-shadow: rgba(248, 3, 3, 0.35) 0px 5px 15px;
}