
<div class="card border-0 mt-3 bgImage">
    <img src="assets/product_list_background.jpg" class="card-img">
    <div class="card-img-overlay text-center my-3 d-flex justify-content-center align-items-center">
        <div>
            <p id="product_list_text" class="card-title fs-1 text-capitalize">{{ categories }}</p>
        </div>
    </div>
</div>


<div class="wraaper ms-auto my-3 me-3">
    <app-filter (seletedValue)="filterdata($event)"></app-filter>
</div>


<!-- 
<div class="d-flex mx-5 justify-content-around flex-wrap">
    <ng-container *ngFor="let item of productList">


        <div class="card my-3" *ngIf=" filteredValue === 'all' || filteredValue === item.pCategory ">
            <img src="{{item.pImage}}" class="card-img-top cardImage" alt="Grocery item image" routerLink="/module/catalogue/product-details/{{item.id}}">
            <div class="card-body">
                <div style="width:200px;"><p> {{item.pName}} </p></div>
                <p class="card-text">Price: {{item.pPrice | currency}} </p>
                <p class="card-text">Category: {{item.pCategory}}</p>
                <p class="card-text">In stock: Yes</p>
                <a class="btn btn-primary" (click)="addToCart(item.id)">Add to cart</a>
            </div>
        </div>

    </ng-container>

</div> -->

<div class="d-flex mx-5 justify-content-center flex-wrap" *ngIf="categoryId !== 'all' ">
    <ng-container *ngFor="let item of category_productArr">


        <div class="card my-4 mx-4">
            <img src="{{item.product.avatar_image}}" class="card-img-top cardImage" alt="Grocery item image" [routerLink]="['/module/catalogue/product-details',item.product_id]">
            <div class="card-body">
                <div style="width:200px;"><p class="card-title fs-5"> {{item.product.title | titlecase}}</p></div>
                <p class="card-text">{{item.product.short_description}}</p>
                <p class="card-text">Price: {{item.product.amount | currency:"INR"}} </p>
                <p class="card-text">Discount: {{item.product.discount_amount | currency:'INR'}}</p>
                <a class="btn btn-outline-primary" (click)="addToCart(item.product_id)">Add to cart</a>
            </div>
        </div>

    </ng-container>

</div>


<div class="d-flex mx-5 justify-content-center flex-wrap" *ngIf="categoryId === 'all' ">
    <ng-container *ngFor="let item of productList">


        <div class="card my-4 mx-4">
            <img src="{{item.avatar_image}}" class="card-img-top cardImage" alt="Grocery item image" [routerLink]="['/module/catalogue/product-details',item.id]">
            <div class="card-body">
                <div style="width:200px;"><p class="card-title fs-5"> {{item.title | titlecase}} </p></div>
                <p class="card-text">{{item.short_description}}</p>
                <p class="card-text">Price: {{item.amount | currency:"INR"}} </p>
                <p class="card-text">Discount: {{item.discount_amount |currency:"INR"}} </p>
                <a class="btn btn-outline-primary" (click)="addToCart(item.id)">Add to cart</a>
            </div>
        </div>

    </ng-container>

</div>

