
<!-- catrgories carousel -->
<nav class="d-flex flex-wrap text-dark container my-5  justify-content-around">
    <div class="">
        <a class="navbar-brand fs-5 fw-semibold" href="#">Explore Categories</a>
    </div>
    <div class="text-capitalize">
        <ul class="d-inline-flex">
            <li class="mx-2 a_style"><a class="nav-link">all</a></li>
            <li class="mx-2 a_style"><a class="nav-link">Vegetables</a></li>
            <li class="mx-2 a_style"><a class="nav-link">Fruits</a></li>
            <li class="mx-2 a_style"><a class="nav-link">Coffe And Teas</a></li>
            <li class="mx-2 a_style"><a class="nav-link">Meat</a></li>
        </ul>
    </div>
</nav>

<!-- carousel ----------------------------------- -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" >
    <div class="carousel-inner">
      <div class="carousel-item active" >
        <div class="cards-wrapper w-auto " >
        <div class="card bg-warning-subtle p-3 m-2">
         <img src="assets/vegetables.png" alt="" width="120" height="120"/>
         <div class="card-body text-center"><p>Fruits</p><small>Fruits</small></div>
        </div>
        <div class="card d-none d-md-block bg-warning-subtle  p-3 m-2">
          <img src="assets/fruits.jfif" alt="" width="120" height="120"/>
          <div class="card-body text-center"><p>Fruits</p><small>Fruits</small></div> 
        </div>

        <div class="card d-none d-md-block bg-warning-subtle  p-3 m-2">
          <img src="assets/fruits.jfif" alt="" width="120" height="120"/>
          <div class="card-body text-center"><p>Fruits</p><small>20 items</small></div>   
        </div>

        <div class="card d-none d-md-block bg-warning-subtle  p-3 m-2">
          <img src="assets/fruits.jfif" alt="" width="120" height="120"/>
          <div class="card-body text-center"><p>Fruits</p><small>20 items</small></div>
        </div>

        <div class="card d-none d-md-block bg-warning-subtle  p-3 m-2">
          <img src="assets/fruits.jfif" alt="" width="120" height="120"/>
          <div class="card-body text-center"><p>Fruits</p><small>20 items</small></div>
        </div>

        <div class="card d-none d-md-block bg-warning-subtle  p-3 m-2">
          <img src="assets/fruits.jfif" alt="" width="120" height="120"/>
          <div class="card-body text-center"><p>Fruits</p><small>20 items</small></div>
        </div>

        <div class="card d-none d-md-block bg-warning-subtle  p-3 m-2">
          <img src="assets/fruits.jfif" alt="" width="120" height="120"/>
          <div class="card-body text-center"><p>Fruits</p><small>20 items</small></div>
        </div>

        <div class="card d-none d-md-block bg-warning-subtle  p-3 m-2">
          <img src="assets/fruits.jfif" alt="" width="120" height="120"/>
          <div class="card-body text-center"><p>Fruits</p><small>20 items</small></div>
        </div>
      </div>
    </div>



      <div class="carousel-item" >
        <div class="cards-wrapper">
          <div class="card d-none d-md-block bg-warning-subtle  p-3 m-2">
            <img src="assets/vegetables.png" alt="" width="120" height="120"/>
            <div class="card-body text-center">
                <p>Vegetables</p>
                <small>20 items</small>
            </div>
        </div>
          <div class="card d-none d-md-block bg-warning-subtle  p-3 m-2">
            <img src="assets/vegetables.png" alt="" width="120" height="120"/>
            <div class="card-body text-center">
                <p>Vegetables</p>
                <small>20 items</small>
            </div>
          </div>
          <div class="card d-none d-md-block bg-warning-subtle  p-3 m-2">
            <img src="assets/vegetables.png" alt="" width="120" height="120"/>
            <div class="card-body text-center">
                <p>Vegetables</p>
                <small>20 items</small>
            </div>
          </div>
          <div class="card d-none d-md-block bg-warning-subtle  p-3 m-2">
            <img src="assets/vegetables.png" alt="" width="120" height="120"/>
            <div class="card-body text-center">
                <p>Vegetables</p>
                <small>20 items</small>
            </div>
          </div>
          <div class="card d-none d-md-block bg-warning-subtle  p-3 m-2">
            <img src="assets/vegetables.png" alt="" width="120" height="120"/>
            <div class="card-body text-center">
                <p>Vegetables</p>
                <small>20 items</small>
            </div>
          </div>
          <div class="card d-none d-md-block bg-warning-subtle  p-3 m-2">
            <img src="/assets/vegetables.png" alt="" width="120" height="120"/>
            <div class="card-body text-center">
                <p>Vegetables</p>
                <small>20 items</small>
            </div>
          </div>
          <div class="card d-none d-md-block bg-warning-subtle  p-3 m-2">
            <img src="assets/vegetables.png" alt="" width="120" height="120"/>
            <div class="card-body text-center">
                <p>Vegetables</p>
                <small>20 items</small>
            </div>
          </div>
          <div class="card d-none d-md-block bg-warning-subtle  p-3 m-2">
            <img src="assets/vegetables.png" alt="" width="120" height="120"/>
            <div class="card-body text-center">
                <p>Vegetables</p>
                <small>20 items</small>
            </div>
          </div>  
        </div>
      </div>
      
 
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>

              <!-- <br>
              <div class="card-deck">
                <div class="card">
                  <img class="card-img-top" src="assets/fruits.jpg"  width="239" height="200" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Fruits</h5>
                    <p class="card-text"></p>
                    <p class="card-text"><small class="text-muted">20 Items</small></p>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="assets/vegetables.jpg" width="239" height="200" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Vegetables</h5>
                    <p class="card-text"></p>
                    <p class="card-text"><small class="text-muted">44 items</small></p>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="assets/coffee.jpg" width="239" height="200"alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Coffee</h5>
                    <p class="card-text"></p>
                    <p class="card-text"><small class="text-muted">10 items</small></p>
                  </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="assets/tea.jpg" width="239" height="200"alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Tea</h5>
                      <p class="card-text"></p>
                      <p class="card-text"><small class="text-muted">20 items</small></p>
                    </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="assets/meat.jpeg" width="239" height="200"alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Meat</h5>
                    <p class="card-text"></p>
                    <p class="card-text"><small class="text-muted">40 items</small></p>
                  </div>
              </div>
              </div> -->


              <div class="container mb-5">
                <div class="row">
                  <div class="col-sm-4" *ngFor="let category of categories">
                    <div class="card">
                      <img [src]="category.source" class="card-img-top i_w" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">{{ category.name }}</h5>
                        <p class="card-text">{{ category.num_of_items }} Products</p>
                        <a [routerLink]="['/front/catalogue/products', category.name.toLowerCase()]" class="btn btn-primary">View Products</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>