<div class="container">
  <h2>Orders</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Order Number</th>
        <th>Order Date</th>
        <th>Items</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.id }}</td>
        <td>{{ order.createdAt | date:'medium' }}</td>
        <td>
          <ul>
            <li *ngFor="let item of order.order_items">
              {{ item.product.title }} ({{ item.qty }})
            </li>
          </ul>
        </td>
        <td>{{ order.total_amount | currency:"INR" }}</td>
      </tr>
    </tbody>
  </table>
</div>
