<!-- <div class="container">
  <h2>Orders</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Order Number</th>
        <th>Order Date</th>
        <th>Items</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.id }}</td>
        <td>{{ order.createdAt | date:'medium' }}</td>
        <td>
          <ul>
            <li *ngFor="let item of order.order_items">
              {{ item.product.title }} ({{ item.qty }})
            </li>
          </ul>
        </td>
        <td>{{ order.total_amount | currency:"INR" }}</td>
      </tr>
    </tbody>
  </table>
</div> -->

<mat-accordion class="row g-10 m-lg-5 d-flex justify-content-center">
  <mat-expansion-panel *ngFor="let arr of orders; let i = index">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <img
          src="/assets/delivey.jpg"
        />
        <small class="m-2 text-muted">Complete</small>
        <div class="vl"></div>
        <small class="text-muted">Order Date: <strong> {{ arr.order_date | date }}</strong></small>
        <div class="vl"></div>
      </mat-panel-title>
      <mat-panel-description>
        <small class="mx-2"
          >Estimate Delivered Date: <strong>{{ arr.estimate_delivery_date |date}}</strong></small
        >
        <div class="vl"></div>
        <hr>
        <small class="mx-2">Order Amount: RS <strong>{{ arr.paid_amount | currency:"INR" }}</strong></small>
        <div class="vl"></div>
        <span class="mx-2"> Items({{ arr.order_items.length }})</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Product Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Product Amount</th>
          <th scope="col">Discount Amount</th>
          <th scope="col">Total Product Amount</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let item of arr.order_items; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ item.product_name }}</td>
          <td>{{ item.qty }}</td>
          <td>{{ item.product_amount | currency:"INR"}}</td>
          <td>{{ item.discount_amount | currency:"INR"}}</td>
          <td>{{ item.product_amount * item.qty | currency:"INR"}}</td>
        </tr>
      </tbody>
    </table>
    <div></div>
  </mat-expansion-panel>
</mat-accordion>
