
<form [formGroup]="changePasswordForm" (ngSubmit)="save(changePasswordForm.value)">

    <div class="row change-pass">
        
        <div class="col-sm-10 my-5">
            <div class="form-group mb-3">
                <label for="password">Current Password</label>
                <input type="password" class="form-control" id="password" placeholder="" formControlName="oldPassword">
                <div class="text-danger-emphasis">
                    <p *ngIf="changePasswordForm.get('oldPassword')?.errors?.['minlength'] && changePasswordForm.get('oldPassword')?.touched">minimum 6 character is required</p>
                    <p *ngIf="changePasswordForm.get('oldPassword')?.errors?.['required'] && changePasswordForm.get('oldPassword')?.touched">password is required</p>
                </div>
        </div>
        <div class="form-group mb-3">
            <label for="npassword">Change Password</label>
            <input type="password" class="form-control" id="npassword" placeholder="" formControlName="newPassword">
            <div class="text-danger-emphasis">
                <p *ngIf="changePasswordForm.get('newPassword')?.errors?.['minlength'] && changePasswordForm.get('newPassword')?.touched">minimum 6 character is required</p>
                <p *ngIf="changePasswordForm.get('newPassword')?.errors?.['required'] && changePasswordForm.get('newPassword')?.touched">password is required</p>
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="cpassword">Confirm Password</label>
            <input type="password" class="form-control" id="cpassword" placeholder="" formControlName="confirmPassword">
            <div class="text-danger-emphasis">
                <p *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['minlength'] && changePasswordForm.get('confirmPassword')?.touched">minimum 6 character is required</p>
                <p *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['required'] && changePasswordForm.get('confirmPassword')?.touched">password is required</p>
                <div *ngIf="changePasswordForm.controls['confirmPassword'].hasError('passwordMismatch')">
  Passwords do not match.
</div>

            </div>
        </div>
    </div>
    <div class="col-sm-2 my-5">
        <div class="form-group mt-4">
            <button class="form-control btn btn-success" [disabled]="changePasswordForm.invalid">Save</button>
        </div>
    </div>
</div>
</form>