
<nav class="d-flex flex-wrap text-dark container my-5  justify-content-around">
    <div class="">
        <a class="navbar-brand fs-5 fw-semibold" href="#">Explore Products</a>
    </div>
    <div class="text-capitalize">
        <ul class="d-inline-flex">
            <li class="mx-2 a_style"><a class="nav-link">all</a></li>
            <li class="mx-2 a_style"><a class="nav-link">Vegetables</a></li>
            <li class="mx-2 a_style"><a class="nav-link">Fruits</a></li>
            <li class="mx-2 a_style"><a class="nav-link">Coffe And Teas</a></li>
            <li class="mx-2 a_style"><a class="nav-link">Meat</a></li>
        </ul>
    </div>
</nav>
