
<nav class="d-flex flex-wrap text-dark container my-5  justify-content-around">
    <div class="">
        <a class="navbar-brand fs-5 fw-semibold" href="#">Explore Products</a>
    </div>
    <div class="text-capitalize">
        <ul class="d-inline-flex">
            <li class="mx-2 a_style"><a class="nav-link">all</a></li>
            <li class="mx-2 a_style"><a class="nav-link">Vegetables</a></li>
            <li class="mx-2 a_style"><a class="nav-link">Fruits</a></li>
            <li class="mx-2 a_style"><a class="nav-link">Coffe And Teas</a></li>
            <li class="mx-2 a_style"><a class="nav-link">Meat</a></li>
        </ul>
    </div>
</nav>


<div class="multi-carousel d-flex justify-content-center" data-mdb-interval="3000" data-mdb-items="5">

    <div class="  multi-carousel-inner d-flex " style="justify-content: space-evenly;" *ngFor="let item of featuredProducts">
        <div class="multi-carousel-item ">
            <div class="card m-2">
                <img class="card-img-top" [src]="item.source" alt="Card image cap" />
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <p class="card-text">{{item.category}}</p>
                    <ul class="list-unstyled list-inline my-2">
                        <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                        <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                        <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                        <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                        <li class="list-inline-item mx-0"><i class="fas fa-star-half-alt"></i></li>
                    </ul>
                    <p>{{item.rater}}</p>
                    <p class="price mb-2">${{item.price}}</p>
                    <button class="btn"><i class="fas fa-cart-plus"> ADD</i></button>
                </div>
            </div>
        </div>
    </div>
  </div>