<div class="card border-0 mt-3 bgImage">
  <img src="assets/product_list_background.jpg" class="card-img">
  <div class="card-img-overlay text-center my-3 d-flex justify-content-center align-items-center">
      <div>
          <p id="product_list_text" class="card-title fs-1 text-capitalize">Select Delivery Method</p>
      </div>
  </div>
</div>

<div class="container d-flex justify-content-center">

  <div>
    <form>
      <div class="form-group">
        <label for="delivery my-3">Select Delivery Option:</label>
        <div class="form-check" *ngFor="let option of deliveryOptions">
          <input class="form-check-input mx-2" type="radio" name="delivery" id="{{option.value}}" [value]="option.value">
          <label class="form-check-label" for="{{option.value}}">
            {{option.label}}
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-outline-success my-3" routerLink="/module/cart/success">Submit</button>
    </form>
  </div>
  
</div>

