<div class="card border-0 mt-3 bgImage">
    <img src="assets/product_list_background.jpg" class="card-img">
    <div class="card-img-overlay text-center my-3 d-flex justify-content-center align-items-center">
        <div>
            <p id="product_list_text" class="card-title fs-1 text-capitalize"></p>
        </div>
    </div>
</div>


<div class="container d-flex justify-content-center mt-3">
    <div>
        <iframe src="https://embed.lottiefiles.com/animation/96237">
        </iframe>
    </div>
    
</div>

<div class="container mb-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="alert alert-success" role="alert">
          Your order has been placed!
        </div>
        <div class="card">
          <div class="card-header">
            Order Details
          </div>
          <div class="card-body" *ngFor="let order of orderDetails">
            <p>Order Number: {{order.id}} </p>
            <p>Order Date: {{order.createdAt | date:"mediumDate"}} </p>
            <p>Delivery Address: {{order.delivery_address.tag + " - "}} {{order.delivery_address.address_line_1}}{{", "+ order.delivery_address.area}}{{", "+ order.delivery_address.city}}{{", "+ order.delivery_address.country}}</p>
            <p>Enstimated Delivery Date: {{order.estimate_delivery_date | date:"mediumDate"}} </p>
            <p>Order Total: {{order.total_amount | currency:'INR'}} </p>
          </div>
        </div>
        <div class="text-center mt-4">
          <a href="#" class="btn btn-primary" routerLink="/" (click)="remove()">Continue Shopping</a>
        </div>
      </div>
    </div>
  </div>
  