<div class="card border-0 mt-3 bgImage">
    <img src="assets/product_list_background.jpg" class="card-img">
    <div class="card-img-overlay text-center my-3 d-flex justify-content-center align-items-center">
        <div>
            <p id="product_list_text" class="card-title fs-1 text-capitalize"></p>
        </div>
    </div>
</div>


<div class="container d-flex justify-content-center my-5">
    <div>
        <iframe src="https://embed.lottiefiles.com/animation/96237">
    
        </iframe>
        <div class="my-3 text-capitalize">
             <p>
                your Order has been placed successfully
             </p>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="alert alert-success" role="alert">
          Your order has been placed!
        </div>
        <div class="card">
          <div class="card-header">
            Order Details
          </div>
          <div class="card-body">
            <p>Order Number: 123456789</p>
            <p>Order Date: April 7, 2023</p>
            <p>Order Total: $50.00</p>
          </div>
        </div>
        <div class="text-center mt-4">
          <a href="#" class="btn btn-primary">Continue Shopping</a>
        </div>
      </div>
    </div>
  </div>
  