<div class="card border-0 mt-3 bgImage">
    <img src="assets/product_list_background.jpg" class="card-img">
    <div class="card-img-overlay text-center my-3 d-flex justify-content-center align-items-center">
        <div>
            <p id="product_list_text" class="card-title fs-1 text-capitalize"></p>
        </div>
    </div>
</div>


<div class="container d-flex justify-content-center my-5">
    <div>
        <iframe src="https://embed.lottiefiles.com/animation/96237">
    
        </iframe>
        <div class="my-3 text-capitalize">
             <p>
                your Order has been placed successfully
             </p>
        </div>

    </div>
</div>