<p>home works!</p>
<!-- carousel start -->
<div id="carouselExample" class="carousel slide">

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/assets/images/cerasol_bg.jpg" alt="GroceryShopImage" class="img-fluid carousel_img">
            <div class="carousel-caption d-none d-md-block carousel_text">
                <h2>Don't miss our daily amazing deals</h2>
                <p>Save up to 60% on your first order</p>
            </div>
        </div>
    </div>
</div>

<app-category></app-category>
<app-product-list></app-product-list>
<!-- trending list -->
<div class="main-container d-flex justify-content-evenly my-5">

  <div class="subdiv1">

      <h3><b>Top Sells</b></h3><br>
      <ng-container *ngFor="let item of topsells">
        <div class="product-container mb-1"  >
          <div><img class="image-container" [src]="item.source" alt="" style="max-height: 100px; max-width: 100px;" ></div>
        <div>
            <div class="name-container">{{item.name}}</div>
            <div class="detail-container">
              <div class="details"><i class="fas fa-star"></i>
            </div>
        </div>
            <div class="details" >${{item.price}}</div>
          </div>
        </div>
      </ng-container>
  </div>


  <div class="subdiv2">

    <h3><b>Top Rated</b></h3><br>
    <ng-container *ngFor="let item of toprated">

      <div class="product-container" >
        <div><img class="image-container" [src]="item.source" alt="" style="max-height: 80px; max-width: 80px;" ></div>
        <div>
          <div class="name-container">{{item.name}}</div>
          <div class="detail-container">
            <div class="details"><i class="fas fa-star"></i>
            </div>
          </div>
          <div class="details" >${{item.price}}</div>
        </div>
      </div>
    </ng-container>
    

</div>



<div class="subdiv3">

  <h3><b>Trending items</b></h3><br>

  <ng-container *ngFor="let item of trendingItems">

    <div class="product-container" >
      <div><img class="image-container" [src]="item.source" alt="" style="max-height: 80px; max-width: 80px;" ></div>
      <div>
        <div class="name-container">{{item.name}}</div>
        <div class="detail-container">
          <div class="details"><i class="fas fa-star"></i>
          </div>
        </div>
        <div class="details" >${{item.price}}</div>
      </div>
    </div>
  </ng-container>

</div>


<div class="subdiv4">

  <h3><b>Recently Added</b></h3><br>
  <ng-container *ngFor="let item of recentlyAdded">

    <div class="product-container" >
      <div><img class="image-container" [src]="item.source" alt="" style="max-height: 80px; max-width: 80px;" ></div>
      <div>
        <div class="name-container">{{item.name}}</div>
        <div class="detail-container">
          <div class="details"><i class="fas fa-star"></i>
          </div>
        </div>
        <div class="details" >${{item.price}}</div>
      </div>
    </div>
    
  </ng-container>

</div>

</div>

<!-- 00 -->
<div class="main_div my-5">

  <div class="d-flex justify-content-start" *ngFor="let item of f_item">
    <div>
      <img class="image-container" [src]="item.source" alt="" class="mx-2">
    </div>
      <div>
        <div class="name-container"><b>{{item.title}}</b></div>
          <div class="detail-container">
            <div class="details">{{item.description}}</div>
          </div>
    </div>
  </div>

</div>
<!-- 00 -->


<!-- 
<div class="main-container d-flex justify-content-evenly my-5">

  <div *ngFor="let item of  tendings_item">
      <h3><b>{{item}}</b></h3>
       <ng-container *ngFor="let x of ">
        <div class="product-container mb-1"  >
          <div><img class="image-container" [src]="x.source" alt="" style="max-height: 100px; max-width: 100px;" ></div>
        <div>
            <div class="name-container">{{x.name}}</div>
            <div class="detail-container">
              <div class="details"><i class="fas fa-star"></i>
            </div>
        </div>
            <div class="details" >${{x.price}}</div>
          </div>
        </div>
      </ng-container>
  </div>
</div> -->
